@tailwind base;
@tailwind components;
@tailwind utilities;



body {

}
.container {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  display: flex; /* Set display to flex */
  flex-direction: column; /* Set flex-direction to column */
  min-height: 100vh;
  min-width:100%;
  background-color: tomato;

}

/* Add the following styles to ensure the main content fills the width */
@media (min-width: 768px) {
  .container {
    max-width: 1200px; /* Set max-width for larger screens */
    margin: 0 auto; /* Center container horizontally */
  }

  .main-content {
    flex: 1;
  }
}

